
:root{
    --rose-pompadour: #E18391ff;
    --tea-rose-red: #EDBABDff;
    --steel-blue: #3980ADff;
    --pomp-and-power: #73658Cff;
    --default-blue: #142E5Bff;
}
*{
    margin: 0%;
    padding: 0%;
}
.text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--default-blue);
    text-shadow:inset -4px -5px 1rem 3px rgba(0, 0, 0, .5);
}
#bgVideo{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#bgVideo2{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -2;
}
.passContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    animation: check-inSlide-in 2s ease 2s;
    animation-fill-mode: both;
}
.passContainerShift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    animation: zoomoutScale 1.7s cubic-bezier(.38,.97,.81,.98);
    animation-fill-mode: both;
}
.wrapper{
    height: 150px;
    width: 350px;
    border: 2px solid var(--default-blue);
    border-radius: 2rem;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper h2{
    position: relative;
    bottom: 10%;
    user-select: none;
}
p{
    position: relative;
    bottom: 40px;
    padding: 7px 20px;
    border: 2px solid var(--default-blue);
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    user-select: none;
}
.password{
    height: 30px;
    width: 90%;
    padding-left: 20px;
    font-size: large;
    background: transparent;
    border: 2px solid var(--default-blue);
    border-radius: 2rem;
    outline: none;
    transition: 1s ease;
}
.password::placeholder{
    color: var(--default-blue);
    text-align: left;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 1s ease;
    user-select: none;
}
.password:focus::placeholder{
    transform: translateX(300px);
    opacity: 0;
}
.password:valid{
    padding-left: 20px;
    color: var(--rose-pompadour);
    border: 2px solid var(--rose-pompadour);
}
.passwordError{
    height: 30px;
    width: 90%;
    padding-left: 20px;
    font-size: large;
    background: transparent;
    border: 2px solid rgb(255, 44, 44);
    border-radius: 2rem;
    outline: none;
    transition: 1s ease;
    /* animation: errorShake .3s ease-out; */
}
.passwordError::placeholder{
    color: rgb(255, 44, 44);
    text-align: left;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 1s ease;
    user-select: none;
    /* animation: errorShake .3s ease-out; */
}
.passwordError:focus{
    border: 2px solid var(--default-blue);
}
.passwordError:focus::placeholder{
    color: var(--rose-pompadour);
    transform: translateX(300px);
    opacity: 0;
}
.passwordError:valid{
    padding-left: 20px;
    color: var(--rose-pompadour);
    border: 2px solid var(--rose-pompadour);
}
.submit{
    color: var(--default-blue);
    height: 30px;
    transform: translateY(20px);
    width: 30%;
    font-size: large;
    font-weight: bold;
    background: transparent;
    border: 2px solid var(--default-blue);
    border-radius: 2rem;
    outline: none;
    transition: .5s ease;
}
.submit:hover{
    color: var(--rose-pompadour);
    height: 30px;
    transform: translateY(20px) scale(110%);
    width: 30%;
    font-size: large;
    background: transparent;
    border: 2px solid var(--rose-pompadour);
    border-radius: 2rem;
    outline: none;
    cursor: pointer;
}
.submit:active{
    color: var(--rose-pompadour);
    height: 30px;
    transform: translateY(20px) scale(95%);
    width: 30%;
    font-size: large;
    background: transparent;
    border: 2px solid var(--rose-pompadour);
    border-radius: 2rem;
    outline: none;
    cursor: pointer;
    transition: .1s ease;
}
.submitLabel{
    position: absolute;
    top: 76%;
    color: var(--default-blue);
    text-align: left;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 1s ease;
    user-select: none;
}
/* .anchorBtn{
    position: absolute;
    top: 0px;
    left: 10px;
} */
@keyframes check-inSlide-in {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(-440px);
    }
}
@keyframes zoomoutScale {
    0%{
        transform: translateX(-28.62%) scale(100%);
    }
    100%{
        transform: translateX(-16.92%) scale(35%);
        opacity: 0;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/* @keyframes errorShake {
    25%{
      transform: translateX(10px);  
    }
    50%{
        transform: translateX(-10px);  
      }
    75%{
      transform: translateX(10px);  
    }
    100%{
        transform: translateX(-10px);  
    }
} */